<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/fragments :: head"/> /*/-->
    </head>

    <body>
        <div class="container-fluid">
            <!--/*/ <th:block th:include="fragments/fragments :: top"/> /*/-->
            <div class="row justify-content-md-center">
                <div class="col-2"></div>
                <div class="col-md-auto">
                    <form class="form-inline" method="post" th:action="@{/}">
                        <span style="padding-right: 10px;">Is</span>
                        <div class="input-group mb-2 mr-sm-2">
                            <input type="text" class="form-control form-control-sm" placeholder="notreal@example.com" name="email">
                        </div>
                        <span style="padding-right: 10px;">a member of Iron March?</span>
                        <button type="submit" class="btn btn-primary btn-sm mb-2">Find Out</button>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
            <!--/*/ <th:block th:include="fragments/fragments :: bottom"/> /*/-->
        </div>
    </body>
</html>
